<div class="container mt-4">
    <h2>Agregar/Editar Cliente</h2>
    <form (ngSubmit)="emitClient()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="client.name" name="nombre">
      </div>
      <div class="mb-3">
        <label for="direccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="direccion" [(ngModel)]="client.direction" name="direccion">
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="telefono" [(ngModel)]="client.phone" name="telefono">
      </div>
      <button type="submit" class="btn btn-primary">Crear</button>
    </form>
  </div>
