<div class="container mt-4">
    <h2>Agregar/Editar Producto</h2>
    <form class="row" (ngSubmit)="emitProduct()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="product.name" name="name">
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Categoría</label>
        <input type="text" class="form-control" [(ngModel)]="product.category" name="category">
      </div>
      <div class="mb-3">
        <label for="buyPrice" class="form-label">Precio Compra</label>
        <input type="number" class="form-control" [(ngModel)]="product.buyPrice" name="buyPrice">
      </div>
      <div class="mb-3">
        <label for="sellPrice" class="form-label">Precio Venta</label>
        <input type="number" class="form-control" [(ngModel)]="product.sellPrice" name="sellPrice">
      </div>
      <div class="mb-3">
        <label for="stock" class="form-label">Stock</label>
        <input type="number" class="form-control" [(ngModel)]="product.stock" name="stock">
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
