<!-- <div class="container mt-4">
    <h2>Agregar/Editar Producto</h2>
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="producto.nombre" name="nombre">
      </div>
      <div class="mb-3">
        <label for="categoria" class="form-label">Categoría</label>
        <input type="text" class="form-control" id="categoria" [(ngModel)]="producto.categoria" name="categoria">
      </div>
      <div class="mb-3">
        <label for="precioCompra" class="form-label">Precio Compra</label>
        <input type="number" class="form-control" id="precioCompra" [(ngModel)]="producto.precioCompra" name="precioCompra">
      </div>
      <div class="mb-3">
        <label for="precioVenta" class="form-label">Precio Venta</label>
        <input type="number" class="form-control" id="precioVenta" [(ngModel)]="producto.precioVenta" name="precioVenta">
      </div>
      <div class="mb-3">
        <label for="stock" class="form-label">Stock</label>
        <input type="number" class="form-control" id="stock" [(ngModel)]="producto.stock" name="stock">
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div> -->
  <div><h1>hola</h1></div>