<div class="container mt-4">
    <h2>Listado de Inventario</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Precio Compra</th>
          <th>Precio Venta</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of catalogList">
          <!-- PARA MODIFICAR EL PRODUCTO  -->
          <td *ngIf="editingProductId === product.id">
            <input type="text" [(ngModel)]="product.name" class="form-control" />
          </td>
          <td *ngIf="editingProductId === product.id">
            <input type="text" [(ngModel)]="product.category" class="form-control" />
          </td>
          <td *ngIf="editingProductId === product.id">
            <input type="number" [(ngModel)]="product.buyPrice" class="form-control" />
          </td>
          <td *ngIf="editingProductId === product.id">
            <input type="number" [(ngModel)]="product.sellPrice" class="form-control" />
          </td>
          <td *ngIf="editingProductId === product.id">
            <input type="number" [(ngModel)]="product.stock" class="form-control" />
          </td>
          <!-- PARA MOSTRAR EL PRODUCTO -->
          <td *ngIf="editingProductId !== product.id">{{ product.name }}</td>
          <td *ngIf="editingProductId !== product.id">{{ product.category }}</td>
          <td *ngIf="editingProductId !== product.id">{{ product.buyPrice | currency }}</td>
          <td *ngIf="editingProductId !== product.id">{{ product.sellPrice | currency }}</td>
          <td *ngIf="editingProductId !== product.id">{{ product.stock }}</td>
          
          <td>
            <button *ngIf="editingProductId !== product.id" (click)="editProduct(product.id)" class="btn btn-warning">Editar</button>
            <button *ngIf="editingProductId === product.id" (click)="saveProduct(product)" class="btn btn-success">Guardar</button>
            <button *ngIf="editingProductId === product.id" (click)="cancelEdit()" class="btn btn-secondary">Cancelar</button>
          </td>

          </tr>
      </tbody>
    </table>
  </div>