<div class="container mt-4">
    <h2>Listado de Inventario</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Precio Compra</th>
          <th>Precio Venta</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let producto of productos"> -->
          <!-- <td>{{ producto.id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.categoria }}</td>
          <td>{{ producto.precioCompra | currency }}</td>
          <td>{{ producto.precioVenta | currency }}</td>
          <td>{{ producto.stock }}</td> -->
        <!-- </tr> -->
      </tbody>
    </table>
  </div>