<div class="container mt-4">
    <h2>Listado de Clientes</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientsList">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.direction }}</td>
          <td>{{ client.phone }}</td>
          <td><button type="submit" class="btn btn-primary" >Editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>